<div class="home__container">
    <app-card
        gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202305/2515/15b67906c6f22a7f51bba05fdd817f1554d3c732ba542721.png"
        gameLabel="DIGITAL"
        gameType="DIGITAL | PS4"
        gamePrice="R$ 129,99"
        >
    </app-card>

    <app-card
        gameCover="https://m.media-amazon.com/images/I/910JAZU5RWL._AC_UF1000,1000_QL80_.jpg"
        gameLabel="EXCLUSIVE"
        gameType="DISC | PS5"
        gamePrice="R$ 229,99"
        >
    </app-card>

    <app-card
        gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202305/2515/15b67906c6f22a7f51bba05fdd817f1554d3c732ba542721.png"
        gameLabel="BEST OF THE YEAR"
        gameType="DIGITAL | PS4"
        gamePrice="R$ 129,99"
        >
    </app-card>

    <app-card
        gameCover="https://m.media-amazon.com/images/I/910JAZU5RWL._AC_UF1000,1000_QL80_.jpg"
        gameLabel="NEW"
        gameType="DISC | PS5"
        gamePrice="R$ 229,99"
        >
    </app-card>

    <app-card
        gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202305/2515/15b67906c6f22a7f51bba05fdd817f1554d3c732ba542721.png"
        gameLabel="BEST OF THE YEAR"
        gameType="DIGITAL | PS4"
        gamePrice="R$ 129,99"
        >
    </app-card>

    <app-card
        gameCover="https://m.media-amazon.com/images/I/910JAZU5RWL._AC_UF1000,1000_QL80_.jpg"
        gameLabel="NEW"
        gameType="DISC | PS5"
        gamePrice="R$ 229,99"
        >
    </app-card>

    <app-card
        gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202305/2515/15b67906c6f22a7f51bba05fdd817f1554d3c732ba542721.png"
        gameLabel="BEST OF THE YEAR"
        gameType="DIGITAL | PS4"
        gamePrice="R$ 129,99"
        >
    </app-card>

    <app-card
        gameCover="https://m.media-amazon.com/images/I/910JAZU5RWL._AC_UF1000,1000_QL80_.jpg"
        gameLabel="NEW"
        gameType="DISC | PS5"
        gamePrice="R$ 229,99"
        >
    </app-card>

    <app-card
        gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202305/2515/15b67906c6f22a7f51bba05fdd817f1554d3c732ba542721.png"
        gameLabel="BEST OF THE YEAR"
        gameType="DIGITAL | PS4"
        gamePrice="R$ 129,99"
        >
    </app-card>

    <app-card
        gameCover="https://m.media-amazon.com/images/I/910JAZU5RWL._AC_UF1000,1000_QL80_.jpg"
        gameLabel="NEW"
        gameType="DISC | PS5"
        gamePrice="R$ 229,99"
        >
    </app-card>
</div>
